:root {
    --db-primary: #FFFFFF;
    --db-soft-grey: #E5E5E5;
    --db-secondary: #1F70E8;
    --db-dark-blue: #175BBA;
    --db-dark: #142A40;

}

/* #region utilities */
.bg_blue {
    background-color: var(--db-secondary);
}

.bg_dark_blue {
    background-color: var(--db-dark-blue);
}


.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

/* #endregion utilities */

.debug #site_header {
    background-color: red;
}

.debug main {
    background-color: rgba(0, 128, 0, 0.181);
}

.debug [class^="col"] {
    height: 1000px;
    border: 1px dashed rgb(0, 0, 0);
}




.site_header {
    height: 60px;
}



.wrapper {
    height: calc(100vh - 60px);
}

main {
    width: calc(100% - 70px);

    overflow-y: auto;
}



.sidebar {
    position: relative;
    width: 70px;

    background-color: var(--db-dark);
}

.sidebar .home:hover {
    background-color: rgba(255, 255, 255, 0.437);
    cursor: pointer;
}

.sidebar .stats:hover {
    background-color: rgba(255, 255, 255, 0.437);
    cursor: pointer;
}

.sidebar .signals:hover {
    background-color: rgba(255, 255, 255, 0.437);
    cursor: pointer;
}

.fa-bell {
    color: orange;
}

#offcanvasboolean {
    width: 100%;
}



/* mediaQueries */

@media screen and (min-width:992px) {
    .sidebar {
        width: 180px;
    }

    main {
        width: calc(100% - 180px);
    }

    #offcanvasboolean {
        width: 50%;
    }

}